@model EntityLayer.Concrete.Person
@{
    ViewBag.Title = "EditPerson";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Üye Güncelleme</h2>
@using (Html.BeginForm("EditPerson", "Person", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.Label("Üye Adı")
        @Html.TextBoxFor(x => x.personName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.personName)
        <br />
        <br />
        @Html.Label("Üye Soyadı")
        @Html.TextBoxFor(x => x.personSurname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.personSurname)
        <br />
        <br />
        @Html.Label("Üye Şifre")
        @Html.TextBoxFor(x => x.personPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.personPassword)
        <br />
        <br />
        @Html.Label("Personel E-posta adresi")
        @Html.TextBoxFor(x => x.personEMail, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.personEMail)
        <b>@ViewBag.vlE</b>
        <br />
        <br />
        @Html.Label("Üye Fotoğrafı")
        <input type="file" name="PersonProfileImage" accept="image/*" required />
        @Html.TextBoxFor(x => x.PersonShaNo, new { @class = "form-control", @hidden = "false" })  @*hidden false olmazsa yanı bu kısımları eklemezsek hata veriyor*@
        @Html.TextBoxFor(x => x.PersonState, new { @class = "form-control", @hidden = "false" })
        @Html.TextBoxFor(x => x.personRegisterDate, new { @class = "form-control", @hidden = "false" })
        @Html.TextBoxFor(x => x.personId, new { @class = "form-control", @hidden = "false" })
        <br />
        <br />
        <button class="btn btn-primary">Üyeyi Güncelle</button>
    </div>

}